body {
    margin: 0;
}

h1 {
    font-size: 32px;
}

.global-header {
    background-color: #007d9c;
    color: #efefef;
    padding: 16px;
}

.global-footer {
    background-color: #253443;
    color: #efefef;
    padding: 16px;
}